<div th:fragment="header">
    <header class="header-desktop">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="header-wrap">
                    <form class="form-header" action="" method="POST">
                        <input class="au-input au-input--xl" type="text" name="search"
                            placeholder="Search for datas &amp; reports..." />
                        <button class="au-btn--submit" type="submit">
                            <i class="zmdi zmdi-search"></i>
                        </button>
                    </form>
                    <div class="header-button">
                        <div class="noti-wrap">
                            <div class="noti__item js-item-menu">
                                <i class="zmdi zmdi-notifications"></i>
                                <div th:each="isdata : ${session.notification}">
                                    <div th:if="${isdata.id !=null}">
                                        <!-- <div th:each="iscounter : ${session.counternotif}"> -->
                                        <span class="quantity" th:text="${session.counternotif}"></span>
                                        <!-- </div> -->
                                    </div>
                                </div>
                                <!--<span class="quantity">3</span>-->
                                <div class="notifi-dropdown js-dropdown">
                                    <div class="notifi__title" th:each="data : ${session.notificationoftimesheet}">
                                        <p th:text="${data.id}"></p>
                                        <!--<p th:text="${data.timesheet.employee.name}"> </p>-->
                                    </div>
                                    <div class="notifi__footer">
                                        <a th:href="@{/approval}">All notifications</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="account-wrap">
                            <div class="account-item clearfix js-item-menu" th:each="userdata : ${session.logindata}">
                                <div class="image">
                                    <img th:src="@{/lihatFile}" name="aboutme" class="img-cir"
                                        onerror="this.src='images/icon/user.png'" />
                                </div>
                                <div class="content">
                                    <a class="js-acc-btn" th:href="@{/profile}" th:text="${userdata.name}">GET EMPLOYEE
                                        NAME</a>
                                </div>
                                <div class="account-dropdown js-dropdown">
                                    <div class="info clearfix">
                                        <div class="image">
                                            <a href="#">
                                                <!--RETRIEVE IMAGES FROM DB-->
                                                <img th:src="@{/lihatFile}" name="aboutme" class="img-cir"
                                                    onerror="this.src='images/icon/user.png'" />
                                            </a>
                                        </div>
                                        <div class="content">
                                            <h5 class="name">
                                                <a href="#" th:text="${userdata.name}">GET EMPLOYEE NAME</a>
                                            </h5>
                                            <span class="email" th:text="${userdata.email}">GET EMPLOYEE EMAIL</span>
                                        </div>
                                    </div>
                                    <div class="account-dropdown__body">
                                        <div class="account-dropdown__item">
                                            <a th:href="@{/profile}">
                                                <i class="zmdi zmdi-account"></i>Account</a>
                                        </div>
                                    </div>
                                    <div class="account-dropdown__footer">
                                        <a th:href="@{http://localhost:8081/login}">
                                            <i class="zmdi zmdi-power"></i>Logout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>