<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head"></div>
<div class="page-wrapper">
    <div class="page-content--bge5">
        <div class="container">
            <div class="login-wrap">
                <div class="login-content">
                    <div class="login-logo">
                        <h1>CONGRATULATIONS</h1>
                    </div>

                    <div class="login-form">
                        <div class="form-group">
                            <h4>Thanks for Using Our Services</h4>
                        </div>

                        <a th:href="@{http://localhost:8081/login}" class="roundme au-btn au-btn--block au-btn--green m-b-20" type="submit">Activate Your
                            Accounnt !</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
<!--</section>-->
<!--</html>-->