<!--SESSION CONTROLLER, THAT CORRECT DATA BASED ON LOGIN GIVEN DATA-->
<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head"></div>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" th:href="@{index.html}">
                            <img th:src="@{images/icon/home.png}" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>

            <!--INCLUDING THE MOBILE VIEW a.k.a RESPONSIVE-->
            <div th:replace="fragments/navbarmobile :: navbarmobile"></div>

        </header>

        <div th:switch="${session.roleloginses}">
            <div th:case="'JOB01'">
                <div th:replace="fragments/sidebar :: sidebar"></div>
            </div>
            <div th:case="'JOB02'">
                <div th:replace="fragments/sidebarManager :: sidebarManager"></div>
            </div>
            <div th:case="'JOB03'">
                <div th:replace="fragments/sidebarAdmin :: sidebarAdmin"></div>
            </div>
        </div>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->

            <!--HEADER CONTENT-->
            <div th:replace="fragments/header :: header"></div>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->

            <div class="main-content-p" id="loadthis">
                <div class="row m-t-25">
                </div>
                <!--DEFAULT CONTENT THAT CAN BE REPLACED BY SIDEBAR SELECTION-->
                <section layout:fragment="content"></section>

            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

        <!--INCLUDE THE FOOTER PAGE-->
        <div th:replace="fragments/footer :: footer"></div>
        <!--<jsp:include page="footer.jsp"/>-->
    </div>

    <!-- Jquery JS-->
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

    <!-- <script th:src="@{vendor/jquery-3.2.1.min.js}"></script> -->

    <!-- Bootstrap JS-->
    <script th:src="@{vendor/bootstrap-4.1/popper.min.js}"></script>
    <script th:src="@{vendor/bootstrap-4.1/bootstrap.min.js}"></script>

    <!-- Vendor JS       -->
    <script th:src="@{vendor/slick/slick.min.js}">
    </script>
    <script th:src="@{vendor/wow/wow.min.js}"></script>
    <script th:src="@{vendor/animsition/animsition.min.js}"></script>
    <script th:src="@{vendor/bootstrap-progressbar/bootstrap-progressbar.min.js}">
    </script>
    <script th:src="@{vendor/counter-up/jquery.waypoints.min.js}"></script>
    <script th:src="@{vendor/counter-up/jquery.counterup.min.js}">
    </script>
    <script th:src="@{vendor/circle-progress/circle-progress.min.js}"></script>
    <script th:src="@{vendor/perfect-scrollbar/perfect-scrollbar.js}"></script>
    <script th:src="@{vendor/chartjs/Chart.bundle.min.js}"></script>
    <script th:src="@{vendor/select2/select2.min.js}">
    </script>

    <!-- Main JS-->
    <script th:src="@{js/main.js}"></script>
    <script th:src="@{js/selfScript.js}"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#approvalTable').DataTable();
        });
    </script>

    <!--Change Role User-->
    <script>
        $('#modalUserAccess').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var id = button.data('getid');
            var name = button.data('getname');
            var job = button.data('getjob');

            var modal = $(this);
            modal.find('#UAid').val(id);
            modal.find('#UAname').val(name);
            modal.find('#UAjob').val(job);
        });
    </script>

    <!-- MODAL APPROVAL -->
    <script>
        $('#modalApproval').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var id = button.data('getid')
            var ts = button.data('getts')
            var date = button.data('getdate')
            var duration = button.data('getduration')
            var desc = button.data('getdescription')
            var status = button.data('getstatus')

            var modal = $(this)
            modal.find('#AotId').val(id)
            modal.find('#Aotdate').val(date)
            modal.find('#Aotduration').val(duration)
            modal.find('#Aotdesc').val(desc)
            modal.find('#Atimesheet').val(ts)
            modal.find('#Aotstatus').val(status)
        });
    </script>
    
    <!--MODAL OVERTIME-->
    <script>
        $('#modalOvertime').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var id          = button.data('getid      ')
            var name        = button.data('getname    ')
            var date        = button.data('getdate    ')
            var employee    = button.data('getemployee')

            var modal = $(this)
            modal.find('#Totid      ').val(id      )
            modal.find('#Totname    ').val(name    )
            modal.find('#Totdate    ').val(date    )
            modal.find('#Totemployee').val(employee)
        });
    </script>

    <!-- Modal Change Password -->
    <script>
        $('#modalChangePass').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var id = button.data('getidcp')
            var name = button.data('getnamecp')
            var address = button.data('getaddresscp')
            var salary = button.data('getsalarycp')
            var email = button.data('getemailcp')
            var password = button.data('getpasswordcp')
            var photo = button.data('getphotocp')
            var activation = button.data('getactivationcp')
            var manager = button.data('getmanagercp')
            var division = button.data('getdivisioncp')
            var site = button.data('getsitecp')
            var job = button.data('getjobcp')

            var modal = $(this)
            modal.find('#CPid').val(id)
            modal.find('#CPname').val(name)
            modal.find('#CPaddress').val(address)
            modal.find('#CPsalary').val(salary)
            modal.find('#CPemail').val(email)
            modal.find('#CPpassword').val(password)
            modal.find('#CPphoto').val(photo)
            modal.find('#CPactivation').val(activation)
            modal.find('#CPmanager').val(manager)
            modal.find('#CPdivision').val(division)
            modal.find('#CPsite').val(site)
            modal.find('#CPjob').val(job)
        });
    </script>


    <!--Change Role User-->
    <script>
        $('#modalUserAccess').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var id = button.data('getid');
            var name = button.data('getname');
            var job = button.data('getjob');

            var modal = $(this);
            modal.find('#UAid').val(id);
            modal.find('#UAname').val(name);
            modal.find('#UAjob').val(job);
        });
    </script>

    <!-- MODAL STATUS -->
    <script>
        $('#modalStatus').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var id = button.data('getid')
            var date = button.data('getdate')
            var duration = button.data('getduration')
            var desc = button.data('getdescription')
            var ts = button.data('getts')
            var status = button.data('getstatus')

            var modal = $(this)
            modal.find('#SotId').val(id)
            modal.find('#Sotdate').val(date)
            modal.find('#Sotduration').val(duration)
            modal.find('#Sotdesc').val(desc)
            modal.find('#Stimesheet').val(ts)
            modal.find('#Sotstatus').val(status)
        });
    </script>

    <!-- PRINT TABLE STATUS -->
    <script>
        $('.btnstatus').click(function () {
            var printme = document.getElementById('statusTable');
            var wme = window.open("", "", "width=900,height=700");
            wme.document.write(printme.outerHTML);
            wme.document.close();
            wme.focus();
            wme.print();
            wme.close();
        });
    </script>
</body>

</html>
<!-- end document-->